<footer class="footer">
    <div>
        <img src="assets/images/lionlogo2.webp" alt="">
        <div>
            <h3>There is a LION in every MILLION.</h3>
            <buy-button>Buy Million Token</buy-button>
        </div>
    </div>
    <div>
        <a href="">
            <img src="assets/images/etherscan-logo-big.webp" alt="etherscan">
        </a>
        <a href="">
            <img src="assets/images/nomics-logo.webp" alt="nomics">
        </a>
        <a href="">
            <img src="assets/images/coingecko-logo.webp" alt="coingecko">
        </a>
        <a href="">
            <img src="assets/images/reddit-logo-small.webp" alt="">
        </a>
        <a href="">
            <img src="assets/images/discord-logo-small.webp" alt="">
        </a>
        <a href="">
            <img src="assets/images/instagram-logo-small.webp" alt="">
        </a>
        <a href="">
            <img src="assets/images/telegram-logo-small.webp" alt="">
        </a>
        <a href="">
            <img src="assets/images/twitter-logo-small.webp" alt="">
        </a>
        <p>DISCLOSURE By purchasing Million Token, you agree that you are not purchasing a security or investment contract and you agree to hold the team harmless and not liable for any losses or taxes you may incur. Although Million is a community driven DeFi Ecosystem and not a registered digital currency, always make sure that you are in compliance with local laws and regulations before you make any purchase. Cryptocurrencies are not legal tender and are not investments.</p>
    </div>
</footer>