.layout {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.responsive-padding{
  // padding: 0 2rem;
  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }
}