// font weights
$thin: 100;
$regular: 300;
$normal: 400; 
$medium: 500;
$bold: 700;
$bolder: 900;


// colors
$mustard: #ECA900;
$black: #000;
$whisper: #E8E6E6;


// font sizes
$font-tiny: 15px;
$font-small: 18px;
$font-medium: 20px;
$font-large: 22px;
$font-huge: 40px;
$font-extra-huge: 50px;

$font-line-height-medium: 20.8px;

// font spaces
$letter-spacing-small: 0.15px;
$letter-spacing-medium: 0.25px;
$letter-spacing-large: 0.48px;
$letter-spacing-huge: 1.5px;