<div class="container-title">Million Token Properties</div>

<div fxLayout="row">
    <div class="column-groups" fxLayout="column">
        <div class="group" fxLayout="column">
            <div class="title">1,000,000 Fixed Limited Supply</div>
            <div class="description">Million has a fixed supply of 1,000,000 tokens total. No more can ever be created (guaranteed by code). Million is deflationary by nature. Million begins with a peg of 1.00 $USDC per token, and its value increases over time with scarcity.</div>
            <button class="property-button">Source code</button>
        </div>
        
        <div class="group" fxLayout="column">
            <div class="title">1+ Million Valuation</div>
            <div class="description">With one million tokens in circulation, Million is worth a minimum of 1,000,000 $USDC total market capitalization but can be worth much more.</div>
        </div>
        
        <div class="group" fxLayout="column">
            <div class="title">Store of Value + Transactional Currency</div>
            <div class="description">As a decentralized currency secured by millions of computers worldwide on the Ethereum blockchain, Million can be used as both a store of value and a means of transaction. Million’s unique limited supply makes it especially ideal as a store of value with unlimited upside. Million can be transferred in fractional amounts (up to 18 decimals), allowing it to be used for microtransactions as well.</div>
        </div>
    </div>

    <div class="column-groups" fxLayout="column">
        <div class="group" fxLayout="column">
            <div class="title">Moonshot Upside</div>
            <div class="description">For holders of Million, there is unlimited upside. Unlike traditional stablecoins (pegged to 1 Token = 1 $USDC), Million has a fixed supply and therefore has an unbound maximum. As Million gains popularity and circulation, it could potentially reach higher values being worth as much as 10 million or 100 million theoretically. The moon is the limit.</div>
        </div>
        
        <div class="group" fxLayout="column">
            <div class="title">Millionaire Approved</div>
            <div class="description">Million Token was founded by the ex-google / ex-facebook techlead, with over 1 Million subscribers. As Million gains popularity amongst more and more people, it gains usage and acceptance as a form of digital currency spreading exponentially through word of mouth. With popularity, the value of Million grows.</div>
        </div>
        
        <div class="group" fxLayout="column">
            <div class="title">Ethereum Blockchain</div>
            <div class="description">Million exists as an ERC-20 smart contract on the Ethereum blockchain, decentralized and validated by millions of computers worldwide.</div>
            <button class="property-button">View contract</button>
        </div>
    </div>
</div>